body {
    width: 100%;
    height: 100%;
}

form {
    padding: 15px;
    width: 75%;
    border-radius: 20px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
    background: linear-gradient(rgb(57, 2, 73),#c945a8);
    border: 1px solid rgb(247, 184, 236);
    box-shadow: 1px 2px 5px rgb(33, 1, 48);
}

.form-control {
    width: 80%;
}

fieldset {
    border: 1px solid rgb(221, 165, 145);
    margin: 10px;
    border-radius: 10px;
}

.expand {
    padding: 8px 8px 8px 10px;
}

legend {
    padding-top:0;
    color: whitesmoke;
    text-shadow: 1px 1px rgb(17, 17, 17);
}

.form-check-input:checked {
    background-color: #7007ac;
    border-color: #f3e5f5;
}


.btn-primary {
    color: whitesmoke;
    background: linear-gradient(#48056e, #8b239d);
    border-color: whitesmoke;
    text-shadow: 1px 1px black;
    transition: 1.5s;
    margin-left: 10px;
}


.btn-primary:hover {
    color: whitesmoke;
    background: linear-gradient(#380356, #8b239d);
    margin-left: 10px;
}

.btn-primary:active {
    margin-left: 250px;
    background: linear-gradient(#2c0344, #8b239d);
    border-color: white;

}

.label{
    color: #e9b1e5;
    margin-left: 5px;
    margin-right: 10px;
    text-shadow: 1px 0 1px #230421;
}

.dropdown-menu{
    color: #380356;
}

.form-control:focus {
    box-shadow: 0 0 0 0.15rem #9d6a8c;
    border-color: rgba(115, 5, 140, 0.83);
}

.input-group>.form-control:focus, .input-group>.form-select:focus{
    color: #380356;
    font-weight: 550;
}


.error li{
    background: red;
    color: white;
}

.alert{
    margin: 4px 400px;
}